<header>
    <h1> Kotkot Bank</h1>
 

    <input class="hamburger" type="checkbox" id="votre_id" tabindex="0">
    <label for="votre_id" aria-label="Menu"><span></span></label>

    <nav>

    <ul>
        <li><a tabindex="0" href="/">Acceuil</a></li>
        <li><a tabindex="0" href="/connexForm">Connexion</a></li>
        <li><a tabindex="0" href="/registerForm">Nouveau Client</a></li>
        <li><a tabindex="0" href="#!">Plus d'Informations</a></li>
       
       
        </ul>

    </nav>
</header>